[Unit]
Description=App runtime service
After=system.service containerd.service sys-devices-virtual-net-br0.device
Wants=system.service containerd.service sys-devices-virtual-net-br0.device
StartLimitBurst=5

[Service]
Environment="LOGHOST=art"
ExecStart=/opt/menucha-de/art
ExecStartPre=/usr/sbin/iptables -I INPUT -d 169.254.0.0/16 ! -i br0 -j DROP
ExecStopPost=/usr/sbin/iptables -D INPUT -d 169.254.0.0/16 ! -i br0 -j DROP
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
