[Unit]
Description=Dropbear key generation service
ConditionPathExists=|!/etc/dropbear/dropbear_rsa_host_key
Before=dropbear.service

[Service]
Type=oneshot
ExecStart=/usr/bin/dropbearkey -t rsa -s 1024 -f /etc/dropbear/dropbear_rsa_host_key
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
