[Unit]
Description=System service
StartLimitBurst=5

[Service]
Environment="LOGHOST=system"
WorkingDirectory=/opt/menucha-de
ExecStart=/opt/menucha-de/system
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
